<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Vision Board</title>
</head>
<body>
    <nav>
        <div class="nav-left">
            <h1>TheVisionBoard</h1>
        </div>
        <div class="nav-right">
            <ul>
                <li>
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'about' %}">About</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">Sign up</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>