{% extends 'base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
    Welcome, {{user.username}}
    <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'signup' %}">Sign up</a>
    {% endif %}

    <section id="main">
        <div class="cards">
            <div class="card vision">
                <div class="desc">
                    Define a grand vision over a period of time.
                </div>
                <div class="title">
                    <h1><a href=""> VISION</a></h1>
                </div>
                <div class="btns">
                    <button>Create New Vision</button>
                    <button>View All </button>
                </div>
            </div>
            
            <div class="card goal">
                <div class="desc">
                    Enter your short term goals to help you attain your vision.
                </div>
                <div class="title">
                    <h1><a href=""> GOAL</a></h1>
                </div>
                <div class="btns">
                    <button>Create New Goal</button>
                    <button>View All </button>
                </div>
            </div>
            
            <div class="card intention">
                <div class="desc">
                    Write down daily intentions that build towards your goal.
                </div>
                <div class="title">
                    <h1><a href=""> INTENTION</a></h1>
                </div>
                <div class="btns">
                    <button>Create New Intention</button>
                    <button>View All </button>
                </div>
            </div>
            
        </div>
    </section>
{% endblock content %}